import type { PropsWithChildren } from "react";

export default function {{pascalCase name}}({
  children
}: PropsWithChildren) {
 return (
    <div>
      {{pascalCase name}} Component
      {children}
    </div>
  );
}
